@import "reset";
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Sriracha&display=swap');

//font family
$Another-font: 'Sriracha', cursive;

//font size
$Header-Web: 6em;
$Header-font: 3em;
$Header-font-sub: 2em;
$Header-font-sub-sub: 1.5em;
//color
$White-color: rgb(255, 255, 255);
$Black-color: rgb(0, 0, 0);
$SubWhite-color: rgb(199, 199, 199);
$primary-color: #3d4423;
$primary2-color: #506157;
$secondary-color: #759194;
$subfont-color: rgb(78, 78, 78);
$footer-color: rgb(51, 51, 51);
$prive: rgb(221, 91, 39);


body{
    font-family: 'Poppins', sans-serif;

    h1{
        box-sizing: border-box;
    }

    p{
        line-height: 150%;
        box-sizing: border-box;
        font-size: 15px;
    }
}

header{
    width: 100%;
    height: 100vh;
    background-color: $primary-color;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .navbar{
        width: 100%;
        height: 9%;
        position: fixed;
        top: 0px;
        right: 0px;
        z-index: 99;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: $footer-color;
        nav{
            height: 80px;
            width: 100%;

            img{
                width: 80px;
                height: 80px;
                border-radius: 100%;
                margin-left: 38px;
            }

            ul{
                float: right;
                margin-right: 20px;

                li{
                    display: inline-block;
                    line-height: 80px;
                    margin: 0 5px;
                    a{
                        color: white;
                        font-size: 17px;
                        padding: 7px 13px;
                        border-radius: 3px;
                        text-transform: uppercase;
                        text-decoration: none;
                        &:hover{
                            background: $secondary-color;
                            transition: .5s;
                        }
                    }
                }
            }

            .checkbtn{
                font-size: 30px;
                color: white;
                float: right;
                line-height: 80px;
                margin-right: 40px;
                cursor: pointer;
                display: none;
            }
            #check{
                display: none;
            }
        }
    }

    .main{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1{
            font-family: $Another-font;
            font-size: $Header-Web;
            z-index: 5;
            color: $White-color;
            margin-left: 24px;
            position: absolute;
            padding-top: 5%;
        }
    
        video{
            width: 100%;
            height: 100%;
            filter: brightness(40%);
            z-index: 4;
            object-fit: cover;
        }

        img{
            width: 100%;
            height: 60vh;
            filter: brightness(40%);
            z-index: 1;
            object-fit: cover;
            position: absolute;
            display: none;
        }
    }

    .logo-00{
        width: 100%;
        opacity: 0.1;
        align-items: flex-start;
        position: absolute;
        z-index: 2;
        
        img{
            top: 0;
            position: absolute;
        }

        .img-scoll02{
            right: 0;
        }
    }
}

.the-phipun{
    width: 100%;
    height: 80vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    
    .intro{
        width: 80%;
        height: 100%;
        display: flex;
        flex-direction: row;

        div{
            width: 50%;
            height: 100%;
            padding: 24px 24px 24px 0;
            gap: 24px;
    
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            justify-content: center;
    
            h1{
                font-family: 'Sriracha', cursive;
                font-size: $Header-font;
            }
    
            p{
                text-align: end;
            }
        }
    
        .picture{
            width: 50%;
            height: 100%;
            padding: 24px 0 24px 24px;
            box-sizing: border-box;
    
            display: flex;
            align-items: center;
            justify-content: center;

            img{
                width: 70%;
                z-index: 1;
                object-fit: cover;
                box-sizing: border-box;
            }
        }
    }
}

.video{
    width: 100%;
    height: 100vh;
    background-color: $secondary-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;

    h1{
        font-size: $Header-font;
        font-family: $Another-font;
    }

    video{
        width: 60%;
    }
}

.room{
    width: 100%;
    height: 250vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $White-color;
    
    h1{
        width: 100%;
        height: 5%;
        font-size: $Header-font;
        font-family: $Another-font;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }

    .card-room{
        width: 100%;
        height: 95%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 24px;
        box-sizing: border-box;
        z-index: 3;

        .card-right{
            width: 100%;
            height: 25%;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 24px;

            .blank{
                position: absolute;
                width: 80%;
                height: 50%;
                background-color: $primary2-color;
                right: 0%;
            }

            img{
                width: 50%;
                height: 60%;
                object-fit: cover;
                position: absolute;
                right: 0%;
            }

            .text{
                position: absolute;
                width: 30%;
                height: 40%;
                left: 20%;
                margin: 5vh 0 5vh 0;
                padding: 0 60px 0 60px;
                gap: 16px;
    
                display: flex;
                flex-direction: column;
                justify-content: center;
                background-color: $White-color;
                box-sizing: border-box;
    
    
                h1{
                    width: 100%;
                    height: 30%;
                    font-size: $Header-font-sub;
                    font-family: $Another-font;
                    align-items: flex-start;
                }
                p{
                    width: 100%;
                    height: 50%;
                    color: $subfont-color;
                }
                h2{
                    width: 100%;
                    height: 20%;
                    font-size: $Header-font-sub-sub;
                    color: $prive;
                }
            }
        }

        .card-left{
            width: 100%;
            height: 25%;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 24px;

            .blank{
                position: absolute;
                width: 80%;
                height: 50%;
                background-color: $primary2-color;
                left: 0%;
            }

            img{
                width: 50%;
                height: 60%;
                object-fit: cover;
                position: absolute;
                left: 0%;
            }

            .text{
                position: absolute;
                width: 30%;
                height: 40%;
                right: 20%;
                margin: 5vh 0 5vh 0;
                padding: 0 60px 0 60px;
                gap: 16px;
    
                display: flex;
                flex-direction: column;
                justify-content: center;
                background-color: $White-color;
                box-sizing: border-box;
    
    
                h1{
                    width: 100%;
                    height: 30%;
                    font-size: $Header-font-sub;
                    font-family: $Another-font;
                    align-items: flex-start;
                }
                p{
                    width: 100%;
                    height: 50%;
                    color: $subfont-color;
                }
                h2{
                    width: 100%;
                    height: 20%;
                    font-size: $Header-font-sub-sub;
                    color: $prive;
                }
            }
        }

    }
}

.map{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $secondary-color;

    div{
        width: 80%;
        height: 60%;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        

        .blank{
            width: 100%;
            height: 40vh;
            background-color: $primary2-color;
            margin: 0 auto;
            align-items: center;
            
        }

        iframe{
            width: 60%;
            height: 50vh;
            position: absolute;
            left: 10%;
            overflow: hidden;
            box-sizing: border-box;
        }

        .location{
            position: absolute;
            width: 30%;
            height: 30vh;
            right: 10%;
            margin: 5vh 0 5vh 0;
            padding: 0 60px 0 60px;
            gap: 24px;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: $White-color;
            overflow: hidden;


            h1{
                font-size: $Header-font;
                font-family: $Another-font;
            }
            p{
                color: $subfont-color;
            }
        }
    }
}

footer{
    width: 100%;
    height: 60vh;
    background-color: $footer-color;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .foot{
        width: 55%;
        height: 55%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        img{
            width: 20%;
            padding: 24px;
        }
        p{
            color: $SubWhite-color;
        }
    }

    .contact{
        width: 100%;
        height: 45%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        a{
            height: 30%;
            font-size: $Header-font-sub-sub;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-end;
            color: $White-color;
            text-decoration: none;

            &:hover{
                color: $secondary-color;
            }
            
        }
        .icon{
            width: 100%;
            height: 70%;
            color: $White-color;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 60px;
            
            a{
                &:hover{
                    color: $secondary-color;
                }
            }
        }
    }

    h1{
        text-align: center;
        width: 100%;
        height: 10%;
        font-size: smaller;
        color: rgb(182, 182, 182);
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 800px){
    header{
        height: 60vh;

        .navbar{
            nav{
                .checkbtn{
                    display: block;
                }
        
                #check:checked ~ ul{
                    left: 0;
                }
        
                ul{
                    position: fixed;
                    width: 100%;
                    height: 26vh;
                    background: $secondary-color;
                    top: 9%;
                    left: -100%;
                    text-align: center;
                    transition: all .5s;
        
                    li{
                        display: block;
                        margin: 50px 0;
                        line-height: 30px;
        
                        a{
                            color: $White-color;
                            &:hover{
                                background: none;
                                color: $primary-color;
                            } 
                        }
                    }
                }
            }
        }

        .main{
            h1{
                left: 24px;
            }

            video{
                display: none;
            }

            img{
                height: 60vh;
                display: block;
            }
        }
        .logo-00{
            display: none;
        }
    }

    .the-phipun{
        width: 100%;
        height: 60vh;
        .intro{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            .picture{
                height: 55%;
                width: 100%;
                padding: 0;
            }
            div{
                width: 100%;
                height: 40%;
                align-items: center;
                justify-content: flex-end;
                padding: 0;
                p{
                    text-align: start;
                }
            }
        }
    }

    .video{
        height: 60vh;
        video{
            width: 80%;
        }
    }

    .room{
        .card-room{
            .card-left{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 30%;
                .blank{
                    display: none;
                }
                img{
                    position: relative;
                    right: none;
                    width: 60%;
                    height: 50%;
                    border-radius: 30px;
                }
                .text{
                    position: relative;
                    width: 60%;
                    left: none;
                    right: 0;
                    border-radius: 30px;
                    margin: 0 auto;
                }
            }
            .card-right{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 30%;
                .blank{
                    display: none;
                }
                img{
                    position: relative;
                    left: none;
                    width: 60%;
                    height: 50%;
                    border-radius: 30px;
                }
                .text{
                    position: relative;
                    width: 60%;
                    right: none;
                    left: 0;
                    border-radius: 30px;
                    margin: 0 auto;
                }
            }
        }
    }

    .map{
        div{
            height: 80%;
            flex-direction: column;
            .blank{
                display: none;
            }

            iframe{
                width: 80%;
                position:relative;
                left: 0;
                border-radius: 30px 30px 0px 0px;
                
            }

            .location{
                background-color: $White-color;
                width: 80%;
                position:relative;
                right: 0;
                margin: 0;
                padding: 24px;
                border-radius: 0px 0px 30px 30px;
            }
        }
    }

    footer{
        .foot{
            flex-direction: column;
            img{
                width: 60%;
            }
        }
    }
}

@media screen and (max-width: 480px){
    header{
        .main{
            h1{
                font-size: $Header-font-sub;
            }
        }
    }

    .the-phipun{
        height: 50vh;
        .intro{
            .picture{
                width: 80%;
                height: 40%;

            }
            div{
                h1{
                    font-size: $Header-font-sub-sub;
                }
            }
        }
    }

    .video{
        height: 40vh;
        h1{
            font-size: $Header-font-sub-sub;
        }
    }

    .room{
        height: 220vh;
        h1{
            font-size: $Header-font-sub-sub;
        }

        .card-room{
            .card-right{
                .text{
                    padding: 16px;
                    height: 60%;
                    justify-content: space-around;

                    h1{
                        font-size: $Header-font-sub-sub;
                    }
                }
            }
            .card-left{
                .text{
                    padding: 16px;
                    height: 60%;
                    justify-content: space-around;

                    h1{
                        font-size: $Header-font-sub-sub;
                    }
                }
            }
        }
    }

    .map{
        height: 80vh;
        div{
            width: 100%;
            iframe{
                height: 50%;
            }
            .location{
                height: 50%;
                h1{
                    font-size: $Header-font-sub-sub;
                }
            }
        }
    }

}